{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "useTabs": false,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "jsxSingleQuote": false,
  "quoteProps": "consistent",
  "singleAttributePerLine": false,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindPreserveWhitespace": false,
  "tailwindPreserveDuplicates": false
}